xsd/CommonsResources/XSD/ProductSchemaV1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.tigo.com/ProductSchema/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.tigo.com/ProductSchema/V1">
   <xsd:element name="product" type="tns:ProductType"/>
   <xsd:complexType name="ProductType">
      <xsd:sequence>
         <xsd:element name="code" type="xsd:string" minOccurs="1"/>
         <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
