xsd/CommonsResources/XSD/ServiceAccountSchemaV1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.tigo.com/ProcessValidator/ServiceAccountSchema/V1" targetNamespace="http://xmlns.tigo.com/ProcessValidator/ServiceAccountSchema/V1" elementFormDefault="qualified">
   <xsd:element name="serviceAccount" type="ServiceAccountType"/>
   <xsd:complexType name="ServiceAccountType">
      <xsd:sequence>
         <xsd:element name="serviceAccountID" type="xsd:string"/>
         <xsd:element name="legacyServiceID" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
