xsd/process/StepSchemaV1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.tigo.com/ProcessValidator/StepSchema/V1" targetNamespace="http://xmlns.tigo.com/ProcessValidator/StepSchema/V1" elementFormDefault="qualified">
   <xsd:element name="step" type="StepType">
      <xsd:annotation>
         <xsd:documentation>A sample element</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="StepType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="value" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
